<ion-view view-title="Colleagues">
    <ion-content>
        <div class="bmw-colleague-search-box">
            <label class="item-input item-floating-label">
                <i class="icon ion-android-search placeholder-icon input-label"> Search Colleagues</i>
                <input type="text" placeholder="Search Colleagues" ng-model="FilterColleagues">
            </label>
        </div>



        <ion-list>
            <ion-item>
                <div class="row">Sorted By: {{colleagues[0].order_by_value_label}}</div>
            </ion-item>
            <ion-item>
                <div class="row light-bg">

                    <div class="col" ng-click="predicate='name';
                        reverse=!reverse">Name</div>
                    <div class="col" ng-click="change_badge_value('total_rewards_today');
                        predicate='total_rewards_today';
                        reverse=!reverse">Today</div>
                    <div class="col" ng-click="change_badge_value('total_rewards_this_week');
                        predicate='total_rewards_this_week';
                        reverse=!reverse">Week</div>
                    <div class="col" ng-click="change_badge_value('total_rewards_this_month');
                        predicate='total_rewards_this_month';
                        reverse=!reverse">Month</div>
                    <div class="col" ng-click="change_badge_value('total_rewards_this_year');
                        predicate='total_rewards_this_year';
                        reverse=!reverse">Year</div>
                    <div class="col" ng-click="change_badge_value('total_rewards');
                        predicate='total_rewards';
                        reverse=!reverse">Overall</div>
                </div>
            </ion-item>


            <ion-item class="dark-bg" ng-repeat="colleague in colleagues| filter:FilterColleagues| orderBy:predicate:reverse" type="item-text-wrap"
                      ng-href="#/app/colleagues/{{colleague.user_id}}">

                <h3 style="color:whitesmoke">{{colleague.name}}</h3>
                <div ng-show="false">Today:{{colleague.total_rewards_today}} |
                    This Week:{{colleague.total_rewards_this_week}} |
                    This Month:{{colleague.total_rewards_this_month}} |
                    This Year:{{colleague.total_rewards_this_year}} |
                    Overall:{{colleague.total_rewards}}
                </div>
                <span class="badge badge-royal">{{colleague.order_by_value}}</span>
                <ion-option-button ng-click="reward_a_colleague(colleague)" class="icon ion-beer icon-assertive"></ion-option-button>
                <ion-option-button ng-click="doalert('colleague');" class="icon ion-ribbon-a"></ion-option-button>
                <ion-option-button class="icon ion-stats-bars"
                                   href="#/app/colleagues/{{colleague.user_id}}"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
